<div id="banner"><a href="#"><img src="assets/greys.jpg" width="1200" height="400" alt="" /></a></div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Sistema de <span>Casos Clínicos</span></a></h1>
			<!--<p>Template design by <a href="http://www.freecsstemplates.org">FCT</a></p> -->
		</div>
	</div>
</div>

