= semantic_form_for [@doencatratamento] do |form|
 
  = form.input :doenca, :member_label => :nomepopular, :label => 'Doença'
  = form.input :tratamento, :member_label => :metodo, :label => 'Tratamento'
  = form.submit 'Salvar'
