= semantic_form_for [@doencaprevencao] do |form|
 
  = form.input :doenca, :member_label => :nomepopular, :label => 'Nome Popular'
  = form.input :prevencao, :member_label => :metodo, :label => 'Método'
  = form.submit 'Salvar'
