<p id="notice"><%= notice %></p>

<p>
  <b>Tipo:</b>
  <%= @tipotratamento.tipo %>
</p>


<%= link_to 'Editar', edit_tipotratamento_path(@tipotratamento) %> |
<%= link_to 'Voltar', tipotratamentos_path %>
